.secondry-page{
    background: url("../images/slider-2.jpg") no-repeat center center;
    background-attachment: fixed;
}
.thanx{
    h4{
        margin-top: 20px;
    }
    .btn{
        margin-left: 15px;
    }
}