/* Template Color Default #054d9a = rgba(5, 77, 154, */

/* TEXT COLOR */
nav.navbar.bootsnav ul.nav li a.active,
nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content .title,
.upcoming-event .clock.flip-clock-wrapper ul li a div div.inn,
.pagination>li>a,
.ulockd-title-icon,
.fancybox-gallery-slider .owl-prev,
.fancybox-gallery-slider .owl-next,
.team-icon a,
.twitter.style2 ul li a,
.text-thm2 {
  color: #054d9a !important;
}

/* TEXT HOVER COLOR */
.ulockd-media-box .media:hover .media-heading,
.ulockd-sitemap > li a:hover,
.ulockd-shop-item:hover h3,
.pricing-table .table-list li:before,
.service-col:hover .srvc-details h3,
.about-box:hover .ab-details h3,
.list-style-check li:before {
	color: #054d9a !important;
}
nav.navbar.bootsnav.light-red ul.nav > li > a.active,
nav.navbar.bootsnav.light-red ul.nav > li > a:hover,
nav.navbar.bootsnav.light-red li.dropdown ul.dropdown-menu > li > a:hover {
	color: #054d9a;
}

/* BACKGROUND COLOR */
#graph-wrapper > button,
nav.navbar.bootsnav.ulockd-menu-style-two li.dropdown ul.dropdown-menu,
.attr-nav > ul > li > a span.badge,
.mt-separator::after,
.mt-separator::before,
.about-icon2,
.recent_box2 .title,
.srvc-icon,
.ulockd-copy-right,
.price-tag,
.ulocked-pricing-tag,
.team_one .thumb,
.team_one .team-content,
.ulockd-product-details a.btn.hvr-bounce-to-right:before,
.ulockd-all-service a.active,
nav.navbar.bootsnav.ulockd-menu-style-two #navbar-menu,
.navbar-sticky.navbar-scrollspy.ulockd-menu-style-two,
.ulockd-faq-content .panel-default > .panel-heading,
.amount-box input[type="radio"]:checked+label,
.thumbnail.service-list-detail .nav-pills>li.active>a,
.thumbnail.service-list-detail .nav-pills>li.active>a:focus,
.thumbnail.service-list-detail .nav-pills>li.active>a:hover,
.pagination>.active>a,
.ulockd-bgthm {
	background-color: #054d9a !important;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all,
.ui-timepicker-list .ui-timepicker-selected:hover,
.ui-timepicker-list li:hover,
li.ui-timepicker-selected {
	background-color: #054d9a;

}

/* HOVER BACKGROUND COLOR */
.feature-box:hover .overlay .icon:before,
.social-linked a:hover,
.social-linked-two a:hover,
.icon_box:hover .icon i,
.icon_box:hover .icon span,
.icon_box.style2:hover,
.form-group.ulockd-contact-btn:hover button,
.ulockd-tag-list-details a:hover,
.recent_box .over-layer a:hover,
.ficon-box:hover .ficon,
.ulockd-tag-list-details li:hover a,
.fancybox-gallery-slider .owl-prev:hover,
.fancybox-gallery-slider .owl-next:hover,
.service_box .icon:before,
.service_box .icon:after,
.pricing_table:hover .pt_header,
.pricingTable:hover .pricingTable-header > .price-value,
.team-icon a:hover,
.partner-slider .owl-dot.active span,
.partner-slider .owl-dot:hover span,
.partner-slider .owl-dot:focus span,
.footer-font-icon a:hover,
.nav.features-tab>li>a:focus,
.nav.features-tab>li>a:hover,
.features-tab>li.active>a:before,
.features-tab>li.active>a,
.features-tab>li.active>a:focus,
.features-tab>li.active>a:hover,
.title-bottom:before {
	background-color: #054d9a;
}
.main-slider2 .owl-next:hover,
.main-slider2 .owl-prev:hover,
.blog-post-img-slider .owl-prev:hover,
.blog-post-img-slider .owl-next:hover,
.ulockd-bpost-slider .owl-controls .owl-prev:hover,
.ulockd-bpost-slider .owl-controls .owl-next:hover {
	background-color: #054d9a;
}
.masonry-filter a.active,
.masonry-filter a:active,
.masonry-filter a:hover,
.masonry-filter a:focus {
	background-color: #054d9a;
}

/* BACKGROUND COLOR TRANSPARENT */
.ulockd-ap-service-two::before,
.ulockd-coming-soon::before,
.ulockd-uconctruction::before {
	background-color: rgba(5, 77, 154, .98);
}
.overlay-tc95:before {
	background-color: rgba(5, 77, 154, .95);
}

.feature-box .title,
.feature-box .overlay,
.shop-box .overlay,
.ulockd-frst-divider::before,
.gallery-thumb .layer,
.gallery-thumb-l2 .layer,
.overlay-tc9:before {
	background-color: rgba(5, 77, 154, 0.9);
}
.overlay-tc85:before {
	background-color: rgba(5, 77, 154, .85);
}
.overlay-tc8:before {
	background-color: rgba(5, 77, 154, .8);
}
.gallery-thumb .overlayer,
.overlay-tc75:before {
	background-color: rgba(5, 77, 154, .75);
}
.flickr-widget li .thumb .overlay,
.overlay-tc7:before {
	background-color: rgba(5, 77, 154, .7);
}
.overlay-tc65:before {
	background-color: rgba(5, 77, 154, .65);
}
.gallery-overlay,
.team-overlay,
.overlay-tc6:before {
	background-color: rgba(5, 77, 154, .6);
}
.overlay-tc55:before {
	background-color: rgba(5, 77, 154, .55);
}
.overlay-tc5:before {
	background-color: rgba(5, 77, 154, .5);
}

/* BUTTON TEMPALTE COLOR */
.ulockd-btn-thm2 {
  background-color: #054d9a;
  border-color: #054d9a;
}
.ulockd-btn-styledark:hover,
.ulockd-btn-styledark:active,
.ulockd-btn-styledark:focus {
  background-color: #054d9a;
}
.ulockd-btn-yellow:hover,
.ulockd-btn-yellow:active,
.ulockd-btn-yellow:focus {
  background-color: #054d9a;
}
.ulockd-btn-white:hover,
.ulockd-btn-white:active,
.ulockd-btn-white:focus {
  background-color: #054d9a !important;
  border-color: #054d9a !important;
}
.ulockd-btn-gray:hover,
.ulockd-btn-gray:active,
.ulockd-btn-gray:focus {
  background-color: #054d9a !important;
  border-color: #054d9a !important;
}
.ulockd-btn-transparent:hover,
.ulockd-btn-transparent:active,
.ulockd-btn-transparent:focus {
  background-color: #054d9a !important;
  border-color: #054d9a !important;
}
/* BORDER TEMPALTE COLOR */
.icon_box .icon i,
.icon_box .icon span,
.ulockd-bdr-thm {border: 1px solid #054d9a;
}
nav.navbar li.dropdown ul.dropdown-menu {
	border-top: 5px solid #054d9a
}
.ulockd-bb-solid-thm {
    border-bottom: 1px solid #054d9a;
}
.ulockd-bt-solid-thm {
    border-top: 1px solid #054d9a;
}
#custom_carousel .controls li.active {
    border-top: 3px solid #054d9a;
}
.ulockd-bb-dotted {
	border-bottom: 1px dotted #054d9a;
}
.ulockd-bb2-dashed {
	border-bottom: 2px dashed #054d9a;
}
.ulockd-bb2-dashed {
	border-bottom: 2px dashed #054d9a;
}
.ulockd-bb-dashed {
	border-bottom: 1px dashed #054d9a;
}
.faq-content .panel .panel-body,
.ulockd-bl-solid{
	border-left: 5px solid #054d9a;
}
.thumbnail.service-list-detail .nav-pills>li.active>a,
.thumbnail.service-list-detail .nav-pills>li.active>a:focus,
.thumbnail.service-list-detail .nav-pills>li.active>a:hover,
.pagination>.active>a,
.amount-box input[type="radio"]:checked+label,
.features-tab>li.active>a,
.features-tab>li.active>a:focus,
.features-tab>li.active>a:hover,
.ulockd-all-service a.active {
	border-color:  #054d9a;
}
/* Hover Border COlor */
.pricingTable:hover .pricingTable-header > .price-value,
.team-icon a:hover,
.team-details .team-icon a,
.service_box .icon,
.icon_box:hover .icon i,
.icon_box:hover .icon span {
    border: 1px solid #054d9a;
}
